<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="999999999" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
  <system.web>
    <sessionState timeout="1440"></sessionState>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <httpRuntime maxRequestLength="62914560" targetFramework="4.5"/>
    <globalization culture="auto" uiCulture="auto" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
  </system.web>
  <connectionStrings>
    <add name="CMCDBBTConn" connectionString="Data source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.11.11.42)(PORT = 1521))(CONNECT_DATA =(SID=CMCDBBT)));User ID=hr_mof;Password=cmcocprab;Unicode=true;Pooling=True;" providerName="Oracle.DataAccess.Client"/>
    <add name="CMCDBBTConnFalse" connectionString="Data source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.11.11.42)(PORT = 1521))(CONNECT_DATA =(SID=CMCDBBT)));User ID=hr_mof;Password=cmcocprab;Pooling=True;" providerName="Oracle.DataAccess.Client"/>
    <add name="MOFGOVMNConn" connectionString="server=10.11.11.228;User Id=leadermonitoring;Persist Security Info=True;database=newmof;password=leadermonitoring;charset=utf8;" providerName="MySql.Data.MySqlClient"/>
    <add name="MOFDMSConn" connectionString="Data Source=10.12.11.13\SQLEXPRESS;User ID=leadermonitoring;Password=leadermonitoring;" providerName="System.Data.SqlClient"/>
    <add name="HRDBConn" connectionString="Data source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.11.11.42)(PORT = 1521))(CONNECT_DATA =(SID=cmcdbbt)));User ID=hrdbuser;Password=hrdbuser;Unicode=true;Pooling=True;" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    <handlers>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" resourceType="Unspecified"/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <rewrite>
      <rules>
        <rule name="Rewrite to login.aspx">
          <match url="^login" />
          <action type="Rewrite" url="login.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="LMWebApp.ws.ServiceMainAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="LMWebApp.ws.ServiceMainAspNetAjaxBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />    
    <services>
      <service name="LMWebApp.ws.ServiceMain" behaviorConfiguration="LMWebApp.ws.ServiceMainAspNetAjaxBehavior">
        
        <!-- WARNING !!! -->
        
        <!-- Доор байгаа мөр SSL -ТЭЙ web server-луу comment-ийг арилгаад publish хийнэ!!!  SSL-->
        <!--<endpoint address="" behaviorConfiguration="LMWebApp.ws.ServiceMainAspNetAjaxBehavior" binding="webHttpBinding" contract="LMWebApp.ws.IServiceMain" bindingConfiguration="webHttpsBinding" />-->
        
        <!-- Доор байгаа мөр SSL ҮГҮЙ web server-луу comment-ийг арилгаад publish хийнэ!!!  NOT SSL-->
        <endpoint address="" behaviorConfiguration="LMWebApp.ws.ServiceMainAspNetAjaxBehavior" binding="webHttpBinding" contract="LMWebApp.ws.IServiceMain" />
        
        
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="Service1Soap">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
          <binding name="webHttpsBinding">
            <security mode="Transport">
              <transport clientCredentialType="None" />
            </security>
          </binding>
        </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.mongolbank.mn/service/service1.asmx"
        binding="basicHttpBinding" bindingConfiguration="Service1Soap"
        contract="MB_CurrencyDailyRate.Service1Soap" name="Service1Soap" />
    </client>
  </system.serviceModel>
</configuration>